<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="TestDb" connectionString="server=(localdb)\v11.0; database=TestDb; integrated security=true;" />
        <add name="MasterDb" connectionString="server=(localdb)\v11.0; database=master; integrated security=true;" />
    </connectionStrings>
</configuration>